# files that should be ignored by git

# Windows
Thumbs.db

# LaTeX
*.synctex.gz
/doc/*/tmp

# Visual Studio
*.suo
*.v11.suo
*.csproj.user
*.cache
*.vsp
/src/*/obj
/src/*/bin
/src/TestResults
*.vshost.exe
*.vshost.exe.config
*.vshost.exe.manifest

# Release
/bin/*.pdb
/bin/*.xml
/bin/*.tex
/bin/*.zip
/bin/*.pdf

# Temporary enries
/doc/skorupap_buisness_analysis.docx
/doc/business_analysis/tex/example.tex
/doc/business_analysis/example.pdf
