<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Phinite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
 <applicationSettings>
  <Phinite.Properties.Settings>
   <setting name="DefaultPdfViewerCommand" serializeAs="String">
    <value>SumatraPDF\SumatraPDF.exe</value>
   </setting>
   <setting name="DefaultPdflatexCommand" serializeAs="String">
    <value>MiKTeX\miktex\bin\pdflatex</value>
   </setting>
   <setting name="DefaultUseSystemDefaultPdfViewer" serializeAs="String">
    <value>True</value>
   </setting>
  </Phinite.Properties.Settings>
 </applicationSettings>
</configuration>
